body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Container {
  background-color: #282c34;
  display: flex;
  justify-content: center;
}
.BarraNavegacion {
  width: 80%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ImgLogo {
  height: 100px;
  width: 100px;
  margin: 10px;
}
.BarraNavegacion ul li {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  position: relative;
}
.BarraNavegacion ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.BarraNavegacion ul li::before {
  content: " ";
  height: 3px;
  width: 0%;
  background-color: #64dcfc;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s;
}
.BarraNavegacion ul li:hover::before{
  width: 100%;
}
.bi-cart2{
  color: white;
}